* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
:root {
    --primary-color-1: #ff7b00;
    --primary-color-2: #ff7b00cc;
    --color-neutral-1: #fdf8e1;
    --color-neutral-2: #e2e2e2;
}
img {
    width: 48px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary-color-1);
}
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#header h1 {
    font-weight: 500;
}
#header img {
    width: 56px;
}

#container {
    width: 550px;
    background-color: var(--color-neutral-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
    gap: 5px;
}
#password-container {
    display: flex;
    align-items: center;
    background-color: var(--primary-color-1);
    height: 42px;
    color: var(--color-neutral-1);
    border-radius: 10px;
}
.password {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#copy {
    color: var(--color-neutral-1);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    background: transparent;
    width: 42px;
}
.sliderContainer {
    margin: 10px 0;
    display: flex;
    width: 100%;
}
.slider {
    flex: 1;
    cursor: pointer;
    margin-right: 10px;
}
.sliderDisplay {
    font-size: 1.1rem;
    font-weight: 600;
}
.checkboxConainer input {
    cursor: pointer;
}
.generateBtn {
    margin-top: 10px;
    cursor: pointer;
    height: 42px;
    font-size: 1rem;
    background-color: var(--primary-color-1);
    border: none;
    border-radius: 10px;
    color: var(--color-neutral-1);
}
.generateBtn:hover {
    opacity: 90%;
}
